@import "tailwindcss";
/* @import "datatables.net-dt/css/jquery.dataTables.css"; */

body{
  /* font-family: "Fira Code", monospace; */
  /* font-size: 12px; */
}
/* @media (min-width: 640px) { 
  body {
    font-size: 14px;
  }
} */
/* @media (min-width: 768px) { 
  body {
    font-size: 14px;
  }
} */
 /* @media (min-width: 1024px) { 
  body {
    font-size: 16px;
  }
} */
/*
@media (min-width: 1280px) { 
  body {
    font-size: 18px;
  }
} */